header {
    display: inline;
    max-width: 100%;
    float: none;
    padding: 10;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 10%; */
}

.back {
    /* width: 800px; */
    max-width: 1920px;
    /* display: inline; */
    margin: auto;
}

.icon {
    margin-left: 10%;
    padding: 20px;
    background: no-repeat;
    background-image: url('../images/icon.png');
    float: left;
    overflow: auto;
}

.list {
    padding: 10px;
    color: white;
    text-decoration: none;
    float: right;
    color: white;
}

.menu {
    float: right;
    display: flex;
    /* flex-direction: column-reverse; */
    /* text-align: right; */
    list-style: none;
    margin: 70px;
    margin-top: 0px;
}

.h1 {
    font-size: 40px;
    color: white;
    margin-top: 400px;
    margin-left: 70px;
    float: left;
    max-width: 800px;
}

.p1 {
    font-size: 23px;
    max-width: 700px;
}

input {
    color: white;
    background-color: rgb(66, 30, 184);
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    box-decoration-break: initial;
}

.above {
    margin-top: 100px;
}

.h1_services {
    margin: auto;
    /* display: inline-block; */
    max-width: 700px;
    text-align: center;
    justify-content: center;
}

.wrapper {
    margin-top: 200px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.Blocks {
    text-align: center;
    width: 300px;
}

.index-bg {
    background-image: url('../images/10059004-w1150.jpg');
    display: inline-block;
    float: inline-start;
    max-width: 95%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 10; */
    /* margin-bottom: 10; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    /* overflow: hidden; */
}