body{
    background-color: black;
}

.background1{
    background: url("../Imagens/backgorund.png") no-repeat;
    width: 400px;
    height: 200px; 
    background-size: cover;
    padding: 1px 20px;
    margin:auto;
    margin-top: 10%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.instagram{
    list-style-image: url(../Imagens/Insta.png);
}
.twitter{
    list-style-image: url(../Imagens/Twitter.png);
}
.youtube{
    list-style-image: url(../Imagens/Youtube.png);

}
.insta{
    float:left
}
.igor{
    margin: ;
}